In [7]:
import requests
from bs4 import BeautifulSoup

# Make a request to the website URL
url = 'https://www.worldometers.info/coronavirus/'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.text, 'html.parser')

# Find the elements you want to extract
table = soup.find('table', {'id': 'main_table_countries_today'})
table_body = table.find('tbody')
table_header = table.find('thead')
rows = table_body.find_all('tr')

In [16]:
header = [ele.text.strip() for ele in table_header.find_all('th')]

In [17]:
# Extract the data
table_data = []
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    table_data.append(cols)

In [20]:
import pandas as pd

df = pd.DataFrame(table_data, columns=header)
df.drop("#", inplace=True, axis=1)
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,...,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,North America,"124,445,363","+3,870","1,609,835",+25,"119,653,940","+4,105","3,181,588","7,591",,...,,,,North America,,,,,,
1,Asia,"214,173,854","+30,717","1,535,985",+189,"198,770,172","+36,531","13,867,697","15,542",,...,,,,Asia,,,,,,
2,Europe,"246,047,334","+18,450","2,015,730",+57,"241,642,030","+19,725","2,389,574","6,487",,...,,,,Europe,,,,,,
3,South America,"67,951,187",+300,"1,350,229",+9,"66,198,283","+1,317","402,675","10,196",,...,,,,South America,,,,,,
4,Oceania,"13,987,191","+2,961","26,076",+16,"13,826,284","+2,416","134,831",64,,...,,,,Australia/Oceania,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Vatican City,29,,,,29,,0,,"36,295",...,,,799,Europe,28,,,,,
235,Western Sahara,10,,1,,9,,0,,16,...,,,"626,161",Africa,"62,616","626,161",,,,
236,MS Zaandam,9,,2,,7,,0,,,...,,,,,,,,,,
237,Tokelau,5,,,,,,5,,"3,628",...,,,"1,378",Australia/Oceania,276,,,,,"3,628"
238,China,"503,302",,"5,272",,"379,053",,"118,977",N/A,347,...,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,,,82

In [21]:
df.to_csv('covid_2_24_2023.csv', index=False)